**/.git
**/bin
**/obj
**/node_modules
**/.vs
**/.vscode
**/.env
**/logs
**/tests
!JiraGithubExportSystem.sln
!services/integration/IntegrationService.csproj
!services/jira-service/JiraService.csproj
!services/github-service/GithubService.csproj
!packages/shared/Shared.csproj
!services/integration/
!services/jira-service/
!services/github-service/
!packages/shared/
